@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    color: #ffff;
    margin: 0;
    font-family: "Poppins", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: #ffff;
    text-shadow: 2px 3px 2px #1f1ce1f1;
}
body{
    background-color: #242424;
}


.homeHeader {
    text-align: center;
    margin: 20px 0;
  }
  
  .cardContainer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .homeCard {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .homeCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .homeCard .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .homeCard .card-text {
    color: #6c757d;
  }
  
  @media (max-width: 768px) {
    .cardContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .homeCard {
      width: 100%;
      margin-bottom: 20px;
    }
  }