.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #535151;
  }
  
  .navbar li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
  }
  
  .navbar a:hover {
    background-color: #7e5a90;
  }